{% extends 'back/base_back.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body_back %}
    <a href="{{ path('back_user_index') }}" class="btn btn-primary mb-2">List des utilisateurs</a>
    <a href="{{ path('back_movie_index') }}" class="btn btn-primary mb-2">List des films et séries</a>

{% endblock %}